Repository Mood-Pimpers/pym-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielxbauer, @manuelfuchs, @ammerzon

#10 Open checkin dialog in menu plus button
  Pym/App/Sources/RootView.swift
  Pym/Home/Sources/HomeView.swift
Owners: @danielxbauer

Add mood rating icons
  Pym/App/Resources/Assets.xcassets/Mood/Contents.json
  Pym/App/Resources/Assets.xcassets/Mood/MoodBad.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Mood/MoodBad.imageset/MoodBad.svg
  Pym/App/Resources/Assets.xcassets/Mood/MoodGood.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Mood/MoodGood.imageset/MoodGood.svg
  Pym/App/Resources/Assets.xcassets/Mood/MoodGreat.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Mood/MoodGreat.imageset/MoodGreat.svg
  Pym/App/Resources/Assets.xcassets/Mood/MoodModerate.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Mood/MoodModerate.imageset/MoodModerate.svg
  Pym/App/Resources/Assets.xcassets/Mood/MoodPoor.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Mood/MoodPoor.imageset/MoodPoor.svg
  Pym/CheckIn/Sources/Extensions/MoodRating.swift
Owners: @danielxbauer

apply PR suggestions
  Pym/PymCore/Sources/Persistence/DataAccessController.swift
Owners: none

add calendar stub
  Pym.xcodeproj/project.pbxproj
  Pym/Explorer/Sources/Calendar/CalendarModel.swift
  Pym/Explorer/Sources/Calendar/HorizonCalendar/DayLabel.swift
  Pym/Explorer/Sources/Calendar/HorizonCalendar/HorizonCalendarDayExtensions.swift
  Pym/Explorer/Sources/Calendar/HorizonCalendar/MonthLabel.swift
  Pym/Explorer/Sources/Calendar/PymCalendarView.swift
  Pym/Explorer/Sources/ExplorerView.swift
  Pym/PymCore/Sources/Components/RoundedCorner.swift
Owners: @manuelfuchs

structure DayLabel and MonthHeader setup in extension methods
  Pym.xcodeproj/project.pbxproj
  Pym/Explorer/Sources/Calendar/CalendarModel.swift
  Pym/Explorer/Sources/Calendar/HorizonCalendar/DayLabel.swift
  Pym/Explorer/Sources/Calendar/HorizonCalendar/MonthLabel.swift
  Pym/Explorer/Sources/Calendar/PymCalendarView.swift
  Pym/Explorer/Sources/DayJournal/ActivityList.swift
  Pym/Explorer/Sources/DayJournal/DayJournal.swift
  Pym/Explorer/Sources/ExplorerView.swift
Owners: @manuelfuchs

Save MoodEntry, Load activities from core data
  Pym.xcodeproj/project.pbxproj
  Pym/CheckIn/Sources/CheckIn.swift
  Pym/CheckIn/Sources/CheckInModalView.swift
  Pym/CheckIn/Sources/Views/ActivityView.swift
  Pym/CheckIn/Sources/Views/FeelingView.swift
  Pym/PymCore/Sources/Extensions/Set.swift
  Pym/PymCore/Sources/Persistence/DataAccessController.swift
  Pym/PymCore/Sources/Persistence/Dtos/Feeling.swift
  Pym/PymCore/Sources/Persistence/Dtos/MoodEntry.swift
  Pym/PymCore/Sources/Persistence/Dtos/MoodRating.swift
  Pym/PymCore/Sources/Persistence/Extensions/MoodEntryModel.swift
  Pym/PymCore/Sources/Persistence/Models/FeelingsExtension.swift
  Pym/PymCore/Sources/Persistence/Models/MoodRatingExtension.swift
Owners: @danielxbauer

Add activity typealias
  Pym.xcodeproj/project.pbxproj
  Pym/CheckIn/Sources/CheckIn.swift
  Pym/CheckIn/Sources/Views/ActivityView.swift
  Pym/PymCore/Sources/DataSources/HealthKit/FakeHealthKitDataSource.swift
  Pym/PymCore/Sources/Persistence/DataAccessController.swift
  Pym/PymCore/Sources/Persistence/Dtos/Activity.swift
  Pym/PymCore/Sources/Persistence/Dtos/MoodEntry.swift
Owners: @danielxbauer

Feelings as parameter
  Pym/CheckIn/Sources/CheckIn.swift
  Pym/CheckIn/Sources/Views/FeelingView.swift
  Pym/PymCore/Sources/Components/Columns.swift
Owners: @danielxbauer

Add swipe gestures to checkin dialog
  Pym/CheckIn/Sources/CheckIn.swift
  Pym/CheckIn/Sources/Views/ActivityView.swift
  Pym/CheckIn/Sources/Views/FeelingView.swift
  Pym/CheckIn/Sources/Views/MoodView.swift
Owners: @danielxbauer

Bug fixes: wrong ordering, int32
  Pym.xcodeproj/project.pbxproj
  Pym/App/Resources/Pym.xcdatamodeld/Pym.xcdatamodel/contents
  Pym/CheckIn/Sources/CheckIn.swift
  Pym/CheckIn/Sources/Inputs/ActivityInput.swift
  Pym/CheckIn/Sources/Inputs/FeelingInput.swift
  Pym/CheckIn/Sources/Inputs/MoodInput.swift
  Pym/PymCore/Sources/Persistence/DataAccessController.swift
  Pym/PymCore/Sources/Persistence/Extensions/MoodEntryModel.swift
Owners: @danielxbauer

Update CheckIn.swift
  Pym/CheckIn/Sources/CheckIn.swift
Owners: @danielxbauer

Add mood entry finish animation
  Pym/App/Resources/Assets.xcassets/DuckFinish.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/DuckFinish.imageset/DuckFinish.svg
  Pym/CheckIn/Sources/CheckIn.swift
  Pym/CheckIn/Sources/CheckInPage.swift
Owners: @danielxbauer

Resolve TODOs
  Pym.xcodeproj/project.pbxproj
  Pym/CheckIn/Sources/CheckIn.swift
  Pym/CheckIn/Sources/Extensions/View.swift
  Pym/PymCore/Sources/Components/Columns.swift
Owners: @danielxbauer

PR fixes
  Pym/App/Sources/RootView.swift
Owners: none

Add ModalService
  Pym.xcodeproj/project.pbxproj
  Pym/App/Sources/RootView.swift
  Pym/Home/Sources/HomeView.swift
  Pym/PymCore/Sources/Services/ModalService.swift
Owners: @danielxbauer

Add onboarding views
  Gemfile.lock
  Pym.xcodeproj/project.pbxproj
  Pym/App/Resources/Assets.xcassets/Onboarding/Contents.json
  Pym/App/Resources/Assets.xcassets/Onboarding/Duck.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Onboarding/Duck.imageset/Duck.svg
  Pym/App/Resources/Assets.xcassets/Onboarding/Health Logo.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Onboarding/Health Logo.imageset/Health Logo.png
  Pym/App/Resources/Assets.xcassets/Onboarding/Pym Logo.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Onboarding/Pym Logo.imageset/Pym Logo.png
  Pym/App/Resources/Assets.xcassets/TabBar/Add.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/TabBar/Add.imageset/add.svg
  Pym/App/Resources/Assets.xcassets/TabBar/Contents.json
  Pym/App/Resources/Assets.xcassets/TabBar/Explorer.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/TabBar/Explorer.imageset/explorer.svg
  Pym/App/Resources/Assets.xcassets/TabBar/Home.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/TabBar/Home.imageset/home.svg
  Pym/App/Resources/Assets.xcassets/TabBar/Insights.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/TabBar/Insights.imageset/insights.svg
  Pym/App/Resources/Assets.xcassets/TabBar/Settings.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/TabBar/Settings.imageset/settings.svg
  Pym/Onboarding/Sources/HealthImportView.swift
  Pym/Onboarding/Sources/MoodReminderIntroView.swift
  Pym/Onboarding/Sources/MoodReminderSettingsView.swift
  Pym/Onboarding/Sources/Onboarding.swift
  Pym/Onboarding/Sources/OnboardingView.swift
  Pym/Onboarding/Sources/WelcomeView.swift
  Pym/PymCore/Sources/Components/PickerPageView.swift
Owners: none

Add onboarding navigation
  Pym.xcodeproj/project.pbxproj
  Pym/App/Sources/RootView.swift
  Pym/Onboarding/Sources/HealthImportView.swift
  Pym/Onboarding/Sources/HealthImportViewModel.swift
  Pym/Onboarding/Sources/MoodReminderIntroView.swift
  Pym/Onboarding/Sources/MoodReminderIntroViewModel.swift
  Pym/Onboarding/Sources/OnboardingView.swift
  Pym/Pym.entitlements
  Pym/PymCore/Sources/Components/PickerPageView.swift
  Pym/PymCore/Sources/Generated/CoreData.generated.swift
  Pym/PymCore/Sources/Generated/UIKitAssets.generated.swift
  Pym/PymCore/Sources/Persistence/Defaults.swift
Owners: none

Add HealthKit permission request
  Pym.xcodeproj/project.pbxproj
  Pym/App/Sources/PymApp.swift
  Pym/App/Sources/RootView.swift
  Pym/Info.plist
  Pym/Onboarding/Sources/HealthImportView.swift
  Pym/Onboarding/Sources/HealthImportViewModel.swift
  Pym/Onboarding/Sources/ViewModels/HealthImportViewModel.swift
  Pym/Onboarding/Sources/ViewModels/MoodReminderIntroViewModel.swift
  Pym/Onboarding/Sources/ViewModels/ViewModelFactory.swift
  Pym/Onboarding/Sources/Views/HealthImportView.swift
  Pym/Onboarding/Sources/Views/MoodReminderIntroView.swift
  Pym/Onboarding/Sources/Views/MoodReminderSettingsView.swift
  Pym/Onboarding/Sources/Views/OnboardingView.swift
  Pym/Onboarding/Sources/Views/WelcomeView.swift
  Pym/PymCore/Sources/Data Sources/ExternalDataAccess.swift
  Pym/PymCore/Sources/Data Sources/ExternalDataSource.swift
  Pym/PymCore/Sources/Data Sources/ExternalEvent.swift
  Pym/PymCore/Sources/Data Sources/HealthKit/FakeHealthKitDataSource.swift
  Pym/PymCore/Sources/Data Sources/HealthKit/HealthKitAssistant.swift
Owners: none

Remove HealthKit write permission check
  Pym/App/Sources/RootView.swift
  Pym/PymCore/Sources/Data Sources/HealthKit/HealthKitAssistant.swift
Owners: none

Delete all data
  Pym/PymCore/Sources/Persistence/DataAccessController.swift
  Pym/Settings/Sources/SettingsView.swift
Owners: none

Fix PR
  Pym/App/Sources/PymApp.swift
  Pym/Onboarding/Sources/Views/HealthImportView.swift
  Pym/Onboarding/Sources/Views/MoodReminderIntroView.swift
  Pym/Onboarding/Sources/Views/MoodReminderSettingsView.swift
  Pym/PymCore/Sources/Data Sources/HealthKit/HealthKitAssistant.swift
  Pym/PymCore/Sources/Generated/CoreData.generated.swift
  Pym/PymCore/Sources/Generated/UIKitAssets.generated.swift
  Pym/PymCore/Sources/Persistence/Defaults.swift
Owners: none

Simplify callback parameters
  Pym/Onboarding/Sources/Views/HealthImportView.swift
Owners: none

fix calendar background issues with zstack
  Pym.xcodeproj/project.pbxproj
  Pym/Explorer/Sources/CalendarBackgroundLayer.swift
  Pym/Explorer/Sources/ExplorerView.swift
Owners: @manuelfuchs

Add notifications
  Pym.xcodeproj/project.pbxproj
  Pym/PymCore/Sources/Services/NotificationService.swift
  Pym/Settings/Sources/SettingsView.swift
Owners: none

add content card
  Pym.xcodeproj/project.pbxproj
  Pym/PymCore/Sources/Components/Button.swift
  Pym/PymCore/Sources/Components/ContentCard.swift
Owners: none

add content card component; add rounded corner
  .gitignore
  Pym.xcodeproj/project.pbxproj
  Pym/PymCore/Sources/Components/Button.swift
  Pym/PymCore/Sources/Components/ContentCard.swift
  Pym/PymCore/Sources/Components/RoundedCorner.swift
  Pym/PymCore/Sources/Generated/Assets.generated.swift
  Pym/PymCore/Sources/Generated/CoreData.generated.swift
  Pym/PymCore/Sources/Generated/Strings.generated.swift
  Pym/PymCore/Sources/Generated/UIKitAssets.generated.swift
Owners: none

remove rounded corner
  Makefile
  Pym.xcodeproj/project.pbxproj
  Pym/PymCore/Sources/Components/RoundedCorner.swift
Owners: none

OnBoarding: Save time/notification settings
  Pym.xcodeproj/project.pbxproj
  Pym/Onboarding/Sources/ViewModels/HealthImportViewModel.swift
  Pym/Onboarding/Sources/ViewModels/MoodReminderIntroViewModel.swift
  Pym/Onboarding/Sources/ViewModels/MoodReminderSettingsViewModel.swift
  Pym/Onboarding/Sources/ViewModels/ViewModelFactory.swift
  Pym/Onboarding/Sources/Views/HealthImportView.swift
  Pym/Onboarding/Sources/Views/MoodReminderIntroView.swift
  Pym/Onboarding/Sources/Views/MoodReminderSettingsView.swift
  Pym/Onboarding/Sources/Views/OnboardingView.swift
  Pym/Onboarding/Sources/Views/WelcomeView.swift
  Pym/PymCore/Sources/Components/EnableTimeView.swift
  Pym/PymCore/Sources/Components/EnableTimeViewModel.swift
  Pym/PymCore/Sources/Generated/Assets.generated.swift
  Pym/PymCore/Sources/Generated/Strings.generated.swift
  Pym/PymCore/Sources/Persistence/Defaults.swift
  Pym/PymCore/Sources/Services/NotificationService.swift
  Pym/Settings/Sources/SettingsView.swift
  Pym/Settings/Sources/ViewModels/SettingsViewModel.swift
Owners: none

fix unit tests failing due to refactoring
  Pym/PymCore/Tests/ModelTests.swift
Owners: none

add getEarliestEntry functionality in DataAccessController
  Pym/PymCore/Sources/Persistence/DataAccessController.swift
  Pym/PymCore/Tests/DataAccessControllerTests.swift
Owners: none

fix day lag in calendar
  Pym/Explorer/Sources/Calendar/CalendarModel.swift
Owners: @manuelfuchs

Allow scheduling on onboarding
  Pym.xcodeproj/project.pbxproj
  Pym/App/Sources/RootView.swift
  Pym/CheckIn/Sources/CheckInView.swift
  Pym/Onboarding/Sources/OnboardingPage.swift
  Pym/Onboarding/Sources/OnboardingView.swift
  Pym/Onboarding/Sources/ViewModels/MoodReminderIntroViewModel.swift
  Pym/Onboarding/Sources/Views/HealthImportView.swift
  Pym/Onboarding/Sources/Views/MoodReminderIntroView.swift
  Pym/Onboarding/Sources/Views/MoodReminderSettingsView.swift
  Pym/Onboarding/Sources/Views/WelcomeView.swift
  Pym/PymCore/Sources/Components/PickerPageView.swift
  Pym/PymCore/Sources/Persistence/Defaults.swift
  Pym/PymCore/Sources/Services/NotificationService.swift
  Pym/Settings/Sources/SettingsView.swift
  Pym/Settings/Sources/ViewModels/SettingsViewModel.swift
Owners: @danielxbauer

Use Simons component in CheckIn
  Pym.xcodeproj/project.pbxproj
  Pym/CheckIn/Sources/CheckInPage.swift
  Pym/CheckIn/Sources/CheckInView.swift
  Pym/CheckIn/Sources/CheckInViewRouter.swift
  Pym/CheckIn/Sources/Extensions/View.swift
  Pym/PymCore/Sources/Extensions/View.swift
Owners: @danielxbauer

Disabel drag/drop on onboarding
  Pym/Onboarding/Sources/OnboardingView.swift
Owners: none

Update project.pbxproj
  Pym.xcodeproj/project.pbxproj
Owners: none

Keep Generated Folder
  .gitignore
  Pym/PymCore/Sources/Generated/.gitignore
Owners: none

Revert "Update project.pbxproj"
  Pym.xcodeproj/project.pbxproj
Owners: none

Update MoodReminderSettingsView.swift
  Pym/Onboarding/Sources/Views/MoodReminderSettingsView.swift
Owners: none

Resolve TODOs
  Pym.xcodeproj/project.pbxproj
  Pym/App/Sources/RootView.swift
  Pym/Home/Sources/HomeView.swift
  Pym/Home/Sources/Models/Quote.swift
  Pym/Home/Sources/QuoteCard.swift
  Pym/Home/Sources/QuoteModal.swift
  Pym/Onboarding/Sources/OnboardingView.swift
  Pym/Onboarding/Sources/Views/HealthImportView.swift
  Pym/PymCore/Sources/Components/EnableTimeView.swift
  Pym/PymCore/Sources/Components/EnableTimeViewModel.swift
  Pym/PymCore/Sources/Extensions/Array.swift
  Pym/PymCore/Sources/Persistence/DataAccessController.swift
  Pym/PymCore/Sources/Persistence/Defaults.swift
  Pym/PymCore/Sources/Persistence/Dtos/Quote.swift
  Pym/PymCore/Sources/Persistence/Extensions/MoodEntryModel.swift
  Pym/PymCore/Sources/Services/NotificationService.swift
  Pym/PymCore/Sources/SwifterSwift/DateExtensions.swift
  Pym/Settings/Sources/ViewModels/SettingsViewModel.swift
Owners: @danielxbauer

Delete button red
  Pym.xcodeproj/project.pbxproj
  Pym/Onboarding/Sources/OnboardingView.swift
  Pym/Settings/Sources/SettingsView.swift
Owners: none

.github/CODEOWNERS:

/Pym/CheckIn/ @danielxbauer
/Pym/Explorer/ @manuelfuchs
/Pym/Home/ @danielxbauer
/Pym/Insights/ @ammerzon
