Repository Mood-Pimpers/pym-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielxbauer, @manuelfuchs, @ammerzon

.github/CODEOWNERS:

/Pym/CheckIn/ @danielxbauer
/Pym/Explorer/ @manuelfuchs
/Pym/Home/ @danielxbauer
/Pym/Insights/ @ammerzon

Refactor project structure that the xcodeproj file is in the root directory
  .swiftlint.yml
  Pym.xcodeproj/project.pbxproj
  Pym/Explorer/Tests/ExplorerTests.swift
  Pym/Pym.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Pym/Pym.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Pym/Pym.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Pym/Settings/Tests/SettingsTests.swift
Owners: @manuelfuchs

Update location of the xcassets file
  Pym.xcodeproj/project.pbxproj
  Pym/Assets.xcassets/AccentColor.colorset/Contents.json
  Pym/Assets.xcassets/AppIcon.appiconset/Contents.json
  Pym/Assets.xcassets/Contents.json
Owners: none

Add SwiftGen
  Pym.xcodeproj/project.pbxproj
  Pym/App/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Pym/App/Resources/Assets.xcassets/Contents.json
  Pym/App/Resources/de.lproj/Localizable.strings
  Pym/App/Resources/en.lproj/Localizable.strings
  Pym/App/Sources/PymApp.swift
  Pym/PymCore/Sources/Generated/Assets+Generated.swift
  Pym/PymCore/Sources/Generated/Strings+Generated.swift
  swiftgen.yml
Owners: none

Add SwiftGen auto generated files
  .swiftlint.yml
  Pym/PymCore/Sources/Generated/Assets+Generated.swift
  Pym/PymCore/Sources/Generated/Strings+Generated.swift
Owners: none

Add Makefile
  Makefile
  README.md
Owners: none

Add core data model
  Makefile
  Pym.xcodeproj/project.pbxproj
  Pym/App/Resources/Pym.xcdatamodeld/Pym.xcdatamodel/contents
  Pym/PymCore/Sources/Generated/CoreData+Generated.swift
  Pym/PymCore/Sources/Persistence/PersistenceController.swift
  swiftgen.yml
Owners: none

Create PR workflow file
  .github/workflows/pr.yml
Owners: none

Update PR CI pipeline
  .github/workflows/pr.yml
  .ruby-version
  Dangerfile
  Gemfile
  Gemfile.lock
  Makefile
  Pym.xcodeproj/project.pbxproj
  Pym.xcodeproj/xcshareddata/xcschemes/Pym.xcscheme
  Pym.xcodeproj/xcshareddata/xcschemes/Settings.xcscheme
  Pym/PymCore/Sources/Generated/Assets.generated.swift
  Pym/PymCore/Sources/Generated/CoreData.generated.swift
  Pym/PymCore/Sources/Generated/Strings.generated.swift
  bootstrap.sh
  fastlane/Appfile
  fastlane/Fastfile
  fastlane/README.md
  fastlane/Scanfile
  swiftgen.yml
Owners: none

Update wrong indentation in pr.yml
  .github/workflows/pr.yml
Owners: none

Update workflow trigger branch name to master
  .github/workflows/pr.yml
Owners: none

Update deployment target version
  Pym.xcodeproj/project.pbxproj
Owners: none

Update SwiftLint configuration to explicitly name the scanned folders
  .swiftlint.yml
  Pym.xcodeproj/project.pbxproj
  fastlane/Scanfile
Owners: none

Add InsightsView
  Pym.xcodeproj/project.pbxproj
  Pym/Insights/Sources/Insights.swift
  Pym/Insights/Sources/InsightsView.swift
Owners: @ammerzon

Add SwiftGen UIKitAssets generation
  .github/workflows/pr.yml
  Makefile
  Pym/PymCore/Sources/Generated/UIKitAssets.generated.swift
  fastlane/Scanfile
  scripts/bootstrap.sh
  scripts/templates/xcassets/swiftui-swift5.stencil
  swiftgen.yml
Owners: none

#2 Add TabbView to root view
  Pym.xcodeproj/project.pbxproj
  Pym/App/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Pym/App/Resources/Assets.xcassets/Add.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Add.imageset/add.svg
  Pym/App/Resources/Assets.xcassets/BackgroundColor.colorset/Contents.json
  Pym/App/Resources/Assets.xcassets/BlackColor.colorset/Contents.json
  Pym/App/Resources/Assets.xcassets/ChartNegativeColor.colorset/Contents.json
  Pym/App/Resources/Assets.xcassets/ChartPositiveColor.colorset/Contents.json
  Pym/App/Resources/Assets.xcassets/DropShadowColor.colorset/Contents.json
  Pym/App/Resources/Assets.xcassets/Explorer.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Explorer.imageset/explorer.svg
  Pym/App/Resources/Assets.xcassets/Home.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Home.imageset/home.svg
  Pym/App/Resources/Assets.xcassets/Insights.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Insights.imageset/insights.svg
  Pym/App/Resources/Assets.xcassets/PrimaryColor.colorset/Contents.json
  Pym/App/Resources/Assets.xcassets/Settings.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Settings.imageset/settings.svg
  Pym/App/Resources/Assets.xcassets/WhiteColor.colorset/Contents.json
  Pym/App/Sources/RootView.swift
  Pym/Explorer/Sources/Explorer.swift
  Pym/Explorer/Sources/ExplorerView.swift
  Pym/Home/Sources/Home.swift
  Pym/Home/Sources/HomeView.swift
  Pym/Insights/Sources/Insights.swift
  Pym/Insights/Sources/InsightsView.swift
  Pym/Settings/Sources/Settings.swift
  Pym/Settings/Sources/SettingsView.swift
  scripts/templates/xcassets/swiftui-swift5.stencil
Owners: @manuelfuchs, @danielxbauer, @ammerzon

Update SwiftGen run script phase
  Pym.xcodeproj/project.pbxproj
Owners: none

Add kingfisher dependency
  Pym.xcodeproj/project.pbxproj
Owners: none

Add first version of home screen
  Pym/Home/Sources/HomeView.swift
Owners: @danielxbauer

Add fade
  Pym/Home/Sources/HomeView.swift
Owners: @danielxbauer

Fixed width on cards
  Pym/Home/Sources/HomeView.swift
Owners: @danielxbauer

Add quote modal
  Pym/Home/Sources/HomeView.swift
Owners: @danielxbauer

Restructure
  Pym/Home/Sources/HomeView.swift
  Pym/Home/Sources/Models/Quote.swift
  Pym/Home/Sources/QuoteCard.swift
  Pym/Home/Sources/QuoteView.swift
  Pym/Home/Sources/Title.swift
Owners: @danielxbauer

Add checkin tabs
  Pym/App/Sources/RootView.swift
  Pym/CheckIn/Sources/CheckIn.swift
  Pym/Home/Sources/HomeView.swift
  Pym/PymCore/Sources/Components/Button.swift
  Pym/PymCore/Sources/Components/Title.swift
Owners: @danielxbauer

Add checkin menü
  Pym.xcodeproj/project.pbxproj
  Pym/App/Resources/Assets.xcassets/NeutralLightColor.colorset/Contents.json
  Pym/CheckIn/Sources/CheckIn.swift
  Pym/PymCore/Sources/Components/Button.swift
  Pym/PymCore/Sources/Components/PrimaryButton.swift
Owners: @danielxbauer

Mood Tabbar
  Pym.xcodeproj/project.pbxproj
  Pym/CheckIn/Sources/CheckIn.swift
  Pym/Home/Sources/HomeView.swift
  Pym/Home/Sources/QuoteView.swift
  Pym/PymCore/Sources/Components/PrimaryButton.swift
  Pym/PymCore/Sources/Components/Title.swift
Owners: @danielxbauer

Update SCA to 0.10.0
  Pym.xcodeproj/project.pbxproj
Owners: none

Add app icons
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/App_store_1024_1x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_App_76_1x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_App_76_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_Notifications_20_1x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_Notifications_20_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_Pro_App_83.5_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_Settings_29_1x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_Settings_29_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_Spotlight_40_1x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_Spotlight_40_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_App_60_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_App_60_3x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_Notifications_20_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_Notifications_20_3x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_Settings_29_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_Settings_29_3x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_Spotlight_40_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_Spotlight_40_3x.png
Owners: none

Add new Pym logo
  .github/Pym.svg
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/App_store_1024_1x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_App_76_1x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_App_76_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_Notifications_20_1x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_Notifications_20_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_Pro_App_83.5_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_Settings_29_1x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_Settings_29_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_Spotlight_40_1x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPad_Spotlight_40_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_App_60_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_App_60_3x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_Notifications_20_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_Notifications_20_3x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_Settings_29_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_Settings_29_3x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_Spotlight_40_2x.png
  Pym/App/Resources/Assets.xcassets/AppIcon.appiconset/iPhone_Spotlight_40_3x.png
Owners: none

Add previews
  Pym.xcodeproj/project.pbxproj
  Pym/PymCore/Sources/Components/PrimaryButton.swift
  Pym/PymCore/Sources/Components/Title.swift
Owners: none

Update SwiftLint configuration
  .swiftlint.yml
  Pym/CheckIn/Sources/CheckIn.swift
  Pym/CheckIn/Tests/CheckInTests.swift
Owners: @danielxbauer

Update project to recommended settings
  Pym.xcodeproj/project.pbxproj
  Pym.xcodeproj/xcshareddata/xcschemes/Pym.xcscheme
  Pym.xcodeproj/xcshareddata/xcschemes/Settings.xcscheme
  Pym/Home/Sources/HomeView.swift
  Pym/Home/Sources/Models/Quote.swift
  Pym/Home/Sources/QuoteCard.swift
  Pym/Home/Sources/QuoteView.swift
Owners: @danielxbauer

Fix PR Issues
  Pym/CheckIn/Sources/CheckIn.swift
Owners: @danielxbauer

Fix PR Issues
  Pym/CheckIn/Sources/CheckIn.swift
  Pym/Home/Sources/QuoteCard.swift
Owners: @danielxbauer

Remove header comments
  Pym/App/Sources/PymApp.swift
  Pym/App/Sources/RootView.swift
  Pym/App/Tests/PymTests.swift
  Pym/App/Tests/PymUITests.swift
  Pym/Explorer/Sources/ExplorerView.swift
  Pym/Explorer/Tests/ExplorerTests.swift
  Pym/Home/Sources/HomeView.swift
  Pym/Home/Sources/Models/Quote.swift
  Pym/Home/Sources/QuoteView.swift
  Pym/Home/Tests/HomeTests.swift
  Pym/Insights/Sources/InsightsView.swift
  Pym/Onboarding/Sources/Onboarding.swift
  Pym/PymCore/Sources/Persistence/PersistenceController.swift
  Pym/PymCore/Sources/PymCore.swift
  Pym/PymCore/Tests/PymCoreTests.swift
  Pym/Settings/Sources/SettingsView.swift
  Pym/Settings/Tests/SettingsTests.swift
Owners: @manuelfuchs, @danielxbauer, @ammerzon

Add selectable element
  Pym/CheckIn/Sources/CheckIn.swift
Owners: @danielxbauer

Add ButtonStyle
  Pym/CheckIn/Sources/CheckIn.swift
  Pym/Home/Sources/HomeView.swift
  Pym/PymCore/Sources/Components/PrimaryButton.swift
Owners: @danielxbauer

Update SCA to 0.14.0
  Pym.xcodeproj/project.pbxproj
Owners: none

add core data model
  Pym.xcodeproj/project.pbxproj
  Pym/App/Resources/Pym.xcdatamodeld/Pym.xcdatamodel/contents
  Pym/PymCore/Sources/Generated/CoreData.generated.swift
  Pym/PymCore/Sources/Persistence/Enums.swift
  Pym/PymCore/Sources/Persistence/Models/MoodEntryExtensions.swift
  Pym/PymCore/Tests/CoreDataModelTests.swift
  Pym/PymCore/Tests/PymCoreTests.swift
Owners: none

add inverse Activity core data relationship
  Pym/App/Resources/Pym.xcdatamodeld/Pym.xcdatamodel/contents
  Pym/PymCore/Sources/Generated/CoreData.generated.swift
Owners: none

add MoodEntry dto; add DataAccessController stub
  Pym.xcodeproj/project.pbxproj
  Pym/App/Resources/Pym.xcdatamodeld/Pym.xcdatamodel/contents
  Pym/PymCore/Sources/Generated/CoreData.generated.swift
  Pym/PymCore/Sources/Persistence/DTOs/MoodEntry.swift
  Pym/PymCore/Sources/Persistence/DataAccessController.swift
  Pym/PymCore/Sources/Persistence/Models/ModelExtensions.swift
Owners: none
