Repository Mood-Pimpers/pym-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielxbauer, @manuelfuchs, @ammerzon

.github/CODEOWNERS:

/Pym/CheckIn/ @danielxbauer
/Pym/Explorer/ @manuelfuchs
/Pym/Home/ @danielxbauer
/Pym/Insights/ @ammerzon

Update HomeView.swift
  Pym/Home/Sources/HomeView.swift
Owners: @danielxbauer

Update QuoteCard.swift
  Pym/Home/Sources/QuoteCard.swift
Owners: @danielxbauer

rename CalendarModel to CalendarViewModel; add getMoodEntries of single day method
  Pym.xcodeproj/project.pbxproj
  Pym/Explorer/Sources/Calendar/CalendarView.swift
  Pym/Explorer/Sources/Calendar/UIDayLabel.swift
  Pym/Explorer/Sources/Calendar/UIMonthLabel.swift
  Pym/Explorer/Sources/ExplorerView.swift
  Pym/Explorer/Sources/ExplorerViewModel.swift
  Pym/PymCore/Sources/Persistence/DataAccessController.swift
  Pym/PymCore/Tests/DataAccessControllerTests.swift
Owners: @manuelfuchs

PR changes
  Pym.xcodeproj/project.pbxproj
  Pym/CheckIn/Sources/CheckInView.swift
  Pym/CheckIn/Sources/Components/CheckInSubView.swift
  Pym/Onboarding/Sources/OnboardingView.swift
  Pym/PymCore/Sources/Extensions/View.swift
  Pym/PymCore/Sources/Persistence/DataAccessController.swift
  Pym/PymCore/Sources/SwifterSwift/DateExtensions.swift
Owners: @danielxbauer

fix SHITTY uikit layout alignment in swiftui
  Pym.xcodeproj/project.pbxproj
  Pym/Explorer/Sources/Calendar/CalendarView.swift
  Pym/Explorer/Sources/Calendar/Extensions/HorizonCalendarDayExtensions.swift
  Pym/Explorer/Sources/Calendar/UIDayLabel.swift
  Pym/Explorer/Sources/CalendarBackgroundLayer.swift
  Pym/Explorer/Sources/ExplorerView.swift
  Pym/Explorer/Sources/ExplorerViewModel.swift
Owners: @manuelfuchs

add day label formatting
  Pym/Explorer/Sources/Calendar/UIDayLabel.swift
  Pym/Explorer/Sources/ExplorerView.swift
  Pym/Explorer/Sources/ExplorerViewModel.swift
Owners: @manuelfuchs

Fix disable drag #31
  Pym.xcodeproj/project.pbxproj
  Pym/App/Sources/RootView.swift
  Pym/CheckIn/Sources/CheckInModal.swift
  Pym/CheckIn/Sources/CheckInView.swift
  Pym/Onboarding/Sources/OnboardingView.swift
  Pym/PymCore/Sources/Components/PickerPageView.swift
  Pym/PymCore/Sources/Extensions/View.swift
  Pym/Settings/Sources/SettingsView.swift
Owners: @danielxbauer

add MoodEntryCard IncidentView; add architecture to further extend incdient cards
  Pym.xcodeproj/project.pbxproj
  Pym/Explorer/Sources/Calendar/CalendarView.swift
  Pym/Explorer/Sources/Calendar/UIDayLabel.swift
  Pym/Explorer/Sources/DayJournal/ContentCardExtensions.swift
  Pym/Explorer/Sources/DayJournal/ContentCards/MoodEntryCard.swift
  Pym/Explorer/Sources/DayJournal/DayJournal.swift
  Pym/Explorer/Sources/DayJournal/IncidentContainer.swift
  Pym/Explorer/Sources/DayJournal/IncidentView.swift
  Pym/Explorer/Sources/ExplorerView.swift
  Pym/Explorer/Sources/ExplorerViewModel.swift
  Pym/PymCore/Sources/Data Sources/ExternalDataAccess.swift
  Pym/PymCore/Sources/Data Sources/ExternalEvent.swift
  Pym/PymCore/Sources/Data Sources/HealthKit/FakeHealthKitDataSource.swift
  Pym/PymCore/Sources/Persistence/DataAccessController.swift
  Pym/PymCore/Sources/Persistence/Dtos/MoodEntry.swift
  Pym/PymCore/Sources/Protocols/Timeable.swift
Owners: @manuelfuchs

add HealthKitCard for DayJournalView
  Pym.xcodeproj/project.pbxproj
  Pym/Explorer/Sources/DayJournal/ContentCards/HealthKitCard.swift
  Pym/Explorer/Sources/DayJournal/ContentCards/MoodEntryCard.swift
  Pym/Explorer/Sources/DayJournal/DayJournal.swift
  Pym/Explorer/Sources/DayJournal/IncidentView.swift
  Pym/Explorer/Sources/ExplorerView.swift
  Pym/Explorer/Sources/ExplorerViewModel.swift
  Pym/PymCore/Sources/Data Sources/ExternalDataSource.swift
  Pym/PymCore/Sources/Data Sources/ExternalDataSourceIdentifier.swift
  Pym/PymCore/Sources/Data Sources/ExternalEvent.swift
  Pym/PymCore/Sources/Data Sources/HealthKit/FakeHealthKitDataSource.swift
  Pym/PymCore/Sources/Data Sources/HealthKit/HealthKitActivity.swift
Owners: @manuelfuchs

fix build
  Pym/Explorer/Sources/DayJournal/DayJournal.swift
Owners: @manuelfuchs

fix selection of day without mood entries
  Pym/Explorer/Sources/DayJournal/DayJournal.swift
Owners: @manuelfuchs

fix unresponsiveness bug in CalendarView
  Pym/Explorer/Sources/Calendar/CalendarView.swift
  Pym/Explorer/Sources/ExplorerView.swift
  Pym/Explorer/Sources/ExplorerViewModel.swift
Owners: @manuelfuchs

reduce calendar height
  Pym/Explorer/Sources/Calendar/CalendarView.swift
  Pym/Explorer/Sources/ExplorerView.swift
  Pym/Explorer/Sources/ExplorerViewModel.swift
  Pym/PymCore/Sources/Persistence/DataAccessController.swift
Owners: @manuelfuchs

remove debug code ExplorerViewModel
  Pym/Explorer/Sources/ExplorerViewModel.swift
Owners: @manuelfuchs

remove obsolete file
  Pym/CheckIn/Sources/Views/ActivityView.swift
Owners: @danielxbauer

remove obsolete file
  Pym/Explorer/Sources/DayJournal/ActivityList.swift
Owners: @manuelfuchs

add Correlation Service
  Pym.xcodeproj/project.pbxproj
  Pym/Insights/Sources/Correlation/MoodCorrelationService.swift
  Pym/Insights/Tests/MoodCorrelationServiceTests.swift
Owners: @ammerzon

simplify swiftUI code
  Pym/Explorer/Sources/CalendarBackgroundLayer.swift
  Pym/Explorer/Sources/ExplorerView.swift
Owners: @manuelfuchs

move extensions
  Pym.xcodeproj/project.pbxproj
  Pym/CheckIn/Sources/Extensions/MoodRating.swift
  Pym/Explorer/Sources/DayJournal/ContentCards/HealthKitCard.swift
  Pym/Explorer/Sources/DayJournal/ContentCards/MoodEntryCard.swift
  Pym/Explorer/Sources/Extensions/ContentCard.swift
  Pym/Explorer/Sources/Extensions/HealthKitActivity.swift
  Pym/Explorer/Sources/Extensions/MoodRating.swift
  Pym/PymCore/Sources/Persistence/Dtos/MoodRating.swift
Owners: @danielxbauer, @manuelfuchs

simplify calendar day background decision process
  Pym/Explorer/Sources/Calendar/UIDayLabel.swift
Owners: @manuelfuchs

add MoodCorrelationService tests
  Pym.xcodeproj/project.pbxproj
  Pym/Insights/Sources/Correlation/MoodCorrelationService.swift
  Pym/Insights/Tests/InsightsTests.swift
  Pym/Insights/Tests/MoodCorrelationServiceTests.swift
  Pym/PymCore/Sources/Data Sources/ExternalEvent.swift
  Pym/PymCore/Sources/Data Sources/HealthKit/FakeHealthKitDataSource.swift
  Pym/PymCore/Tests/ModelTests.swift
Owners: @ammerzon

remove overengineered feelings sort extension
  Pym/Explorer/Sources/DayJournal/ContentCards/MoodEntryCard.swift
Owners: @manuelfuchs

Add mood trend line chart
  Pym.xcodeproj/project.pbxproj
  Pym/App/Resources/Assets.xcassets/Insights/Arrow Down.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Insights/Arrow Down.imageset/Down Arrow.svg
  Pym/App/Resources/Assets.xcassets/Insights/Arrow Up.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Insights/Arrow Up.imageset/Up Arrow.svg
  Pym/App/Resources/Assets.xcassets/Insights/Black Gradient End.colorset/Contents.json
  Pym/App/Resources/Assets.xcassets/Insights/Black Gradient Start.colorset/Contents.json
  Pym/App/Resources/Assets.xcassets/Insights/Contents.json
  Pym/App/Resources/Assets.xcassets/Insights/Gray Gradient End.colorset/Contents.json
  Pym/App/Resources/Assets.xcassets/Insights/Gray Gradient Start.colorset/Contents.json
  Pym/App/Resources/Assets.xcassets/Insights/LightGray.colorset/Contents.json
  Pym/Info.plist
  Pym/Insights/Sources/Charts/MoodTrendLineChart.swift
  Pym/Insights/Sources/Formatter/WeekdayFormatter.swift
  Pym/Insights/Sources/InsightsView.swift
Owners: @ammerzon

Add insight view
  Pym.xcodeproj/project.pbxproj
  Pym/App/Resources/Assets.xcassets/Insights/Chevron Left.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Insights/Chevron Left.imageset/chevron-left.svg
  Pym/App/Resources/Assets.xcassets/Insights/Chevron Right.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Insights/Chevron Right.imageset/chevron-right.svg
  Pym/App/Resources/Assets.xcassets/Insights/Green Gradient End.colorset/Contents.json
  Pym/App/Resources/Assets.xcassets/Insights/Green Gradient Start.colorset/Contents.json
  Pym/App/Resources/Assets.xcassets/Insights/Red Gradient End.colorset/Contents.json
  Pym/App/Resources/Assets.xcassets/Insights/Red Gradient Start.colorset/Contents.json
  Pym/Insights/Sources/Charts/MoodCorrelationBarChart.swift
  Pym/Insights/Sources/Formatter/WeekdayFormatter.swift
  Pym/Insights/Sources/InsightsView.swift
Owners: @ammerzon

Add mood correlation bar chart
  Mintfile
  Pym.xcodeproj/project.pbxproj
  Pym/App/Resources/Assets.xcassets/Insights/No Correlation.imageset/Contents.json
  Pym/App/Resources/Assets.xcassets/Insights/No Correlation.imageset/No Correlation.svg
  Pym/Insights/Sources/Charts/MoodCorrelationBarChart.swift
  Pym/Insights/Sources/Charts/MoodTrendLineChart.swift
  Pym/Insights/Sources/InsightsView.swift
  Pym/Insights/Sources/ViewModels/InsightsViewModel.swift
  Pym/PymCore/Sources/Extensions/Collection.swift
  Pym/PymCore/Sources/Extensions/Date.swift
  Pym/PymCore/Sources/Extensions/Sequence.swift
  README.md
Owners: @ammerzon

Fix PR
  Pym.xcodeproj/project.pbxproj
  Pym/Explorer/Sources/Calendar/UIDayLabel.swift
  Pym/Explorer/Sources/DayJournal/DayJournal.swift
  Pym/Explorer/Sources/Extensions/MoodRating.swift
  Pym/Insights/Sources/Charts/MoodCorrelationBarChart.swift
  Pym/Insights/Sources/Charts/MoodTrendLineChart.swift
  Pym/Insights/Sources/InsightsView.swift
  Pym/Insights/Sources/ViewModels/InsightsViewModel.swift
  Pym/PymCore/Sources/Extensions/Date.swift
  Pym/PymCore/Sources/Extensions/Text.swift
  Pym/PymCore/Sources/Extensions/View.swift
Owners: @manuelfuchs, @ammerzon

Add correlation logic
  Pym/Insights/Sources/Charts/MoodCorrelationBarChart.swift
  Pym/Insights/Sources/InsightsView.swift
  Pym/Insights/Sources/ViewModels/InsightsViewModel.swift
Owners: @ammerzon
